<template>
<div>
	<ol id="pagePath">
		<li class="root"><a href="/">株式会社イーディアス ホーム</a>&gt;</li>
		<li>{{ namePage }}</li>
	</ol>
	</div>
</template>

<script>
export default {
  props: ['namePage']
}
</script>