<template>
	<section class="faq">
		<h2 class="ttl">
			<span class="icon">Q.</span>
			{{question}}
		</h2>
		<div class="txt">
            <span class="icon">A.</span>
            <strong style="white-space:pre-wrap; word-wrap:break-word;">{{answer}}</strong>
		</div>
	</section>
</template>

<script>
    export default {
        props: {
            question: {
                type: String,
                required: true
            },
            answer: {
                type: String,
                required: true
            }
        }
    };
</script>

<style scoped >
    /*------------------------------------------------------------
	faq
	------------------------------------------------------------*/
    
    
    
    .faq .ttl:after {
        margin-top: -7px;
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        background-image: url(~assets/img/common/icon/icon_open.png);
        -ms-background-size: 15px 15px;
        background-size: 15px 15px;
        position: absolute;
        top: 50%;
        right: 30px;
        content: "";
    }
    
    .faq .ttl.is-open:after {
        background-image: url(~assets/img/common/icon/icon_close.png);
    }
    
    .faq .txt {
        background-color: #F6F6F6;
        border-top: none;
        display: none;
    }
</style>