<template>
  <header id="header">
        <p class="txt">採用における課題を「情報発信」で解決する - ii-deais（イーディアス)</p>
        <div class="inner top">
            <div class="logo">
                <a href="/"><img src='~/assets/img/common/logo.png' alt="株式会社イーディアス" /></a>
            </div>
            <div id="gNavi">
                <ul>
                    <li><nuxt-link to="/about">ABOUT</nuxt-link></li>
                    <li><nuxt-link to="/faq">FAQ</nuxt-link></li>
                    <li><nuxt-link to="/faq2">FAQ2</nuxt-link></li>
                    <li><nuxt-link to="/privacy">PRIVACY</nuxt-link></li>
                </ul>
            </div>
        </div>
    </header>
</template>