<template>
	<div id="mainVisual" class="bg">
	    <h1 class="pageTtl">
	        <img :src="src" alt="pageTitle"/>
	    </h1>
	</div>
</template>

<script>
	export default {
  		props: ['src']
 	}	
</script>