<template>

<aside id="pageLink">
    <div class="item box about">
        <a href="/about/" class="cover">
            <p class="txt"><img src='~/assets/img/common/about_txt.png' alt="イーディアスについて ABOUT"/></p>
        </a>
    </div>

    <div class="item box solution">
        <a href="/solution/" class="cover">
        <p class="txt"><img src='~/assets/img/common/solutions_txt.png' alt="ソリューションを探す SOLUTION"/></p>
        </a>
    </div>

    <div class="item box ranking">
        <a href="/ranking/" class="cover">
            <p class="txt"><img src='~/assets/img/common/ranking_txt.png' alt="採用サイトランキング RANKING"/></p>
        </a>
    </div>
</aside>

</template>