@charset "UTF-8";

/*------------------------------------------------------------
  イーディアスについて /about/
------------------------------------------------------------*/
.p-about .logo {
    margin-top: 65px;
    margin-bottom: 75px;
    text-align: center;
}

.p-about .lead {
    margin-bottom: 70px;
}

.p-about>p {
    margin-bottom: 30px;
}

.p-about .value {
    margin-bottom: 80px;
}

.p-about .contsBox p {
    text-align: center;
}

.p-about .contsBox p.text {
    margin: 0 0 60px 0;
    text-align: center;
}

.p-about .contsBox .imgBox {
    margin-top: 60px;
}

.p-about .contsBox .imgBox .imgLeft,
.p-about .contsBox .imgBox .imgCenter {
    width: 300px;
    float: left;
}

.p-about .contsBox .imgBox .imgCenter {
    margin: 0 30px;
}

.p-about .contsBox .imgBox .imgRight {
    width: 300px;
    float: right;
}

.p-about .contsBox .imgBox dl {
    margin-top: 15px;
}

.p-about .contsBox .imgBox dl dt {
    margin-bottom: 5px;
    color: #004795;
    font-size: 112.5%;
    text-align: center;
}

.p-about .contsBox .imgBox dl dd span {
    color: #e5004e;
}

.p-about .contsBox .infoImg {
    margin-bottom: 80px;
    position: relative;
}

.p-about .contsBox .infoImg .arror01 {
    position: absolute;
    top: 178px;
    left: 552px;
}

.p-about .contsBox .infoImg .arror02 {
    position: absolute;
    top: 494px;
    left: 364px;
}

.p-about .contsBox .infoImg .arror03 {
    position: absolute;
    top: 494px;
    right: 185px;
}

.p-about .contsBox .lBox {
    width: 595px;
    float: left;
}

.p-about .contsBox .lBox p {
    text-align: left;
}

.p-about .contsBox .rBox {
    margin-top: -30px;
    float: right;
}

.p-about .contsBox .listBox01 {
    box-sizing: border-box;
    margin-top: 40px;
    padding: 30px 0;
    border: 1px solid #29B6B4;
    text-align: center;
}

.p-about .contsBox .listBox01 .list01 {
    box-sizing: border-box;
    width: 238px;
    float: left;
    border-left: 1px solid #D6D6D6;
}

.p-about .contsBox .listBox01 .list01:first-child {
    border: none;
}

.p-about .contsBox .listBox01 .list01 dl dt {
    margin: 20px 0 10px 0;
    color: #29B6B4;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
}

.p-about .contsBox .listBox01 .list01 dl dd {
    padding: 0 30px;
    font-size: 87.5%;
    text-align: left;
}

.p-about .contsBox .linkText01 {
    margin-top: 35px;
    margin-bottom: 75px;
    text-align: left;
}

.p-about .contsBox .linkText01:before {
    margin-bottom: -3px;
    margin-right: 5px;
    background: url(~assets/img/about/icon02.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    content: "";
}

.p-about .contsBox .linkText01:after {
    margin-left: 5px;
    background: url(~assets/img/about/icon03.png) no-repeat;
    width: 12px;
    height: 12px;
    display: inline-block;
    content: "";
}

.p-about .contsBox .linkText01 a {
    color: #29B6B4;
}

.p-about .contsBox .contsText {
    margin-bottom: 30px;
    text-align: left;
}

.p-about .contsBox .listBox02 {
    border: 1px solid #004795;
    padding: 30px;
}

.p-about .contsBox .listBox02 .inner {
    width: 900px;
    border-bottom: 1px solid #D6D6D6;
}

.p-about .contsBox .listBox02 .inner:after {
    display: block;
    clear: both;
    content: "";
}

.p-about .contsBox .listBox02 .inner+.inner {
    border-bottom: none;
}

.p-about .contsBox .listBox02 .inner+.inner .list02 {
    padding-top: 30px;
    padding-bottom: 0;
}

.p-about .contsBox .listBox02 .list02 {
    box-sizing: border-box;
    margin-left: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    width: 290px;
    min-height: 220px;
    border-left: 1px solid #D6D6D6;
    float: left;
}

.p-about .contsBox .listBox02 .list02 .img {
    margin: 0 auto;
    min-height: 56px;
}

.p-about .contsBox .listBox02 .list02 dl {
    margin-top: 15px;
}

.p-about .contsBox .listBox02 .list02 dl dt {
    color: #004795;
    font-weight: bold;
}

.p-about .contsBox .listBox02 .list02 dl dd {
    margin-top: 10px;
    font-size: 87.5%;
    text-align: left;
}

.p-about .contsBox .listBox02 .list02:first-child {
    margin-left: 0;
    padding-left: 0;
    width: 260px;
    border-left: none;
}

.p-about .contsBox .linkText02 {
    margin: 35px 0 75px 0;
    text-align: left;
}

.p-about .contsBox .linkText02:before {
    margin-bottom: -3px;
    margin-right: 5px;
    background: url(~assets/img/about/icon05.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    content: "";
}

.p-about .contsBox .linkText02 a {
    color: #004795;
}

.p-about #atjinnji .ttl,
.p-about #consulting .ttl,
.p-about #agency .ttl {
    margin-bottom: 15px;
    font-size: 125%;
    font-weight: normal;
}

.p-about #atjinnji .ttl04 {
    border-bottom: 1px solid #29B6B4;
}

.p-about #atjinnji .ttl04:before {
    background-image: url(~assets/img/about/icon01.png);
}

.p-about #atjinnji .ttl {
    color: #29B6B4;
}

.p-about #consulting .ttl {
    color: #004795;
}

.p-about #agency .ttl04 {
    border-bottom-color: #E5004E;
}

.p-about #agency .ttl04:before {
    background-image: url(~assets/img/about/icon06.png);
}

.p-about #agency .ttl {
    color: #E5004E;
}

.p-about #agency .contsText {
    margin-bottom: 0;
}