/*------------------------------------------------------------
    faq
------------------------------------------------------------*/
.p-faq{
    margin-bottom: 50px;
}
.p-faq .faq {
    margin-top: 20px;
    overflow: hidden;
    transition: 1.5s ease-out;
}

.p-faq .faq:first-child {
    margin-top: 0;
}

.p-faq .faq .ttl,
.p-faq .faq .txt {
    padding: 27px 45px 23px 55px;
    position: relative;
    border: 1px solid #d6d6d6;
}

.p-faq .faq .ttl .icon,
.p-faq .faq .txt .icon {
    position: absolute;
    top: 27px;
    left: 30px;
}

.p-faq .faq .ttl {
    background-color: #FFF;
    color: #004795;
    font-weight: normal;
    cursor: pointer;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.p-faq .faq .ttl .icon-open, .p-faq .faq .ttl .icon-close{
    position: absolute;
    right: 25px;    
    display: flex;
    align-items: center;
}

.p-faq .faq .txt {
    background-color: #F6F6F6;
    border-top: none;
}

/*.p-faq .faq .ttl:after {
    margin-top: -7px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url(../img/common/icon/icon_open.png);
    -ms-background-size: 15px 15px;
    background-size: 15px 15px;
    position: absolute;
    top: 50%;
    right: 30px;
    content: "";
    transition: 0.4s;
}*/

/*.p-faq .faq .ttl.open:after {
    background-image: url(../img/common/icon/icon_close.png);
}*/

/*.p-faq .faq .txt {
    max-height: 0;
    overflow: hidden;        
    opacity: 0; 
    padding: 0;
    background-color: #F6F6F6;
    border-top: none;
}

.p-faq .faq .txt.is-show {        
    opacity: 1;
    max-height: 100%;
    transition: max-height 0.5s ease-out;
    padding: 27px 45px 23px 55px;
}*/