<template>
<div>
<Header />

<nuxt />

<pageLink />
<Footer />
</div>
</template>

<script>
import Header from '~/components/header';
import Footer from '~/components/footer';
import pageLink from '~/components/pageLink';

export default {
	components: {
	     Header, pageLink, Footer   
	}
}
</script>