<template>

<div class="p-faq">
	<div id="container">
		<breadcrumb namePage="サービスに関するFAQ" />

		<main id="main">            
            <MV :src="require('~/assets/img/faq/page_ttl.png')" />

			<div id="conts" class="contsSet">
				<section v-for="item in items" class="faq" >
					<h2 class="ttl" @click= 'item.active = !item.active' >
						<span class="icon">Q.</span>{{item.title}}
						<i class="icon-open" v-if="item.active"><img src="~/assets/img/common/icon/icon_close.png"></i>
      					<i class="icon-close" v-else><img src="~/assets/img/common/icon/icon_open.png"></i>
					</h2>

					<div class="txt" v-show="item.active">
						<span class="icon">A.</span>{{item.txt1}}<br>
						{{item.txt2}}
					</div>
				</section>
			</div>
		</main>
	</div>
</div>

</template>

<script>
import breadcrumb from '~/components/breadcrumb';
import MV from '~/components/mainVisual';

export default {
	data: () => ({
    	items: [
	        {
	       		active: false,
	        	title: 'コンサルティングサービスの費用には、採用ツールの制作費も含まれているのでしょうか？',
	        	txt1: 'はい、含まれております。',
	        	txt2: '大まかなスケジュールと施策内容を協議した上でご契約となりますが、その際、各種採用ツールの制作費も含めてご提案いたします。' 
	        },
	        { 
	        	active: false,
	        	title: '各サービス、例えば採用サイトの制作だけを申し込むことはできますか？',  
	        	txt1: 'はい、可能です。',
	        	txt2: '採用プロモーションツールの制作のみ、コンサルティングのみ、採用アウトソースのみといった個別のお申し込みができます。'
	        },
	        {
	        	active: false,
	        	title: '月額ってどういうことですか？', 
	        	txt1: 'ご契約前に達成目標とスケジュールをご提案いたします。達成に必要な体制・布陣によって当社の月間の最大作業時間が決まりますので、その範囲でコンサルティング・実制作を行います。ご予算やスピードなどで増減が可能です。' 
	        },
	        {
	        	active: false,
	        	title: 'コンサルサービスの契約期間は最低どのくらいですか？', 
	        	txt1: '12ヶ月、または24ヶ月です。採用課題の抽出と解決策のご提示にはどうしても時間が掛かってしまいますし、プロジェクトを進めるうちに発現した課題や必要な制作物などに柔軟に対応するためです。',
	        	txt2: '『採用サイトだけ』『入社案内だけ』などの発注も可能で、こちらは単体でのご注文となります。'
	        },
	        {
	        	active: false,
	        	title: '月額制のメリットって何でしょうか？', 
	        	txt1: 'イーディアスのコンサルティングサービスの最終目標は「プロの知見を移植し、仕組化する」ことにあります。単なるアドバイスや制作、代行ではなく、課題解決やご提案を通じて採用力を高めるため、原則毎月のご訪問と当事者意識を持った企画提案や施策実施を、お客様とともに実行いたします。'
	        }
      	]
  	}),
	components: {
	    breadcrumb, MV   
	}
}
</script>