<template>
<div class="p-privacy">
    <div id="container">
        <breadcrumb namePage="個人情報保護方針" />

        <main id="main">            
            <MV :src="require('~/assets/img/privacy/page_ttl.png')" />

            <div id="conts" class="contsSet">
                <section>
                    <h2 class="ttl">1.法令等の遵守</h2>
                    <p>株式会社イーディアス（以下、当社）は、お客様の個人情報を取り扱うにあたり、個人情報の保護に関する法令、ガイドラインを遵守いたします。</p>
                </section>
                <section>
                    <h2 class="ttl">2.個人情報の収集</h2>
                    <p>当社は、必要な範囲で個人情報を収集することがあります。収集する個人情報の範囲は、利用目的を達成するために必要な限度を超えないものとします。</p>
                </section>
                <section>
                    <h2 class="ttl">3.個人情報の管理・保護</h2>
                    <p>当社では、お客様の個人情報への不正アクセス、紛失、破損、改ざんおよび漏洩等を防止するため、安全な環境下にて厳重に管理いたします。</p>
                </section>
                <section>
                    <h2 class="ttl">4.個人情報の利用</h2>
                    <p>個人情報をご提供いただく場合は、その利用目的を明確にし、お知らせします。</p>
                </section>
                <section>
                    <h2 class="ttl">5.個人情報の提供</h2>
                    <p>当社は、個人情報をお客様ご本人の同意なしに、第三者に開示･提供することはありません。ただし、法令により開示を求められた場合、裁判所、警察等の公的機関から開示を求められた場合、または本人および公衆の生命・健康・財産などの重要な利益を保護するために必要な場合には、お客様ご本人の同意なしに個人情報を開示･提供することがあります。</p>
                </section>
                <section>
                    <h2 class="ttl">6.個人情報の照会・修正・削除</h2>
                    <p>お客様ご本人の個人情報の照会･修正･削除等をご希望される場合は、当社にご連絡いただき、ご本人であることを確認した上で個人情報に関する情報主体の権利に従って対応させていただきます。</p>
                </section>
                <section>
                    <h2 class="ttl">7.情報配信の停止</h2>
                    <p>当社から、電子メールなどを利用してお客様に有益と思われる情報をお届けすることがあります。配信を希望されない場合は、当社にご連絡いただければ情報配信を停止いたします。</p>
                </section>
                <section>
                    <h2 class="ttl">8.個人情報保護方針の改定</h2>
                    <p>当社は、利用者の事前の了承を得ることなく、本方針を変更することができ、利用者はそれを承諾するものとします。また、利用者が本方針の変更後に当社が提供するサービスを利用することにより、本方針の変更内容を承諾したものとみなします。</p>
                </section>
            </div>
        </main>
    </div>
</div>

</template>

<script>
import breadcrumb from '~/components/breadcrumb';
import MV from '~/components/mainVisual';
export default {  
  components: {
     breadcrumb, MV   
  }
}
</script>